<!DOCTYPE html>
<html>
<head>
	<title>Add Location</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<a href="/"><button class = 'user_button'>Return to Dashboard</button></a>
<h3>Add New Location:</h3>
<form action='/locations/add_location' method = 'POST'>
<table>
	<thead></thead>
	<tbody>
		<tr>
			<td><label for="loc_name">Location Name: </label></td><td><input type="text" name="loc_name"></td>
		</tr>
		<tr>
		<td><label for="street">Street: </label></td><td><input type="text" name="street"></td>
		</tr>
		<tr>
		<td><label for="apt">Apt: </label></td><td><input type="text" name="apt"></td>
		</tr>
		<tr>
		<td><label for="city">City: </label></td><td><input type="text" name="city"></td>
		</tr>
		<tr>
		<td><label for="state">State: </label></td><td><input type="text" name="state"></td>
		</tr>
		<tr>
		<td><label for="zip">Zip: </label></td><td><input type="text" name="zip"></td>
		</tr>
	</tbody>
</table>
		<input type="submit" value="Add Location">
</form>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for msg in messages %}
			<p>{{msg}}</p>
		{% endfor %}
	{% endif %}
{% endwith %}
</body>
</html>