<!DOCTYPE html>
<html>
<head>
	<title>Rumbler Chaser</title>
	<meta name="description" content="Group project in Pylot and MySQL for Earthquake alerts..">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- *************** MAP SCRIPT ***************** -->
    <script>
    // [START script-body]
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: {{dash_latitude}}, lng: {{dash_longitude}} },
          zoom: {{dash_zoom}}
        });
    // Get the earthquake data (JSONP format)
        var script = document.createElement('script');
        script.src='http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/4.5_week.geojsonp';
        document.getElementsByTagName('head')[0].appendChild(script);
    // Add a basic style.
        map.data.setStyle(function(feature) {
            var mag = Math.exp(parseFloat(feature.getProperty('mag'))) * 0.1;
            return /** @type {google.maps.Data.StyleOptions} */({
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    scale: mag,
                    fillColor: '#f00',
                    fillOpacity: 0.35,
                    strokeWeight: 0
                }
            });
        });
    }
    // Defines the callback function referenced in the jsonp file.
    function eqfeed_callback(data) {
        map.data.addGeoJson(data);
    }
    // [END script-body]
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD56IFEadsgIAdXjgOTYLaodhb24xioSPw&callback=initMap">
    </script>
</head>
<body>
<div id="header">
    <a href="/users/edit_profile/">Edit Profile</a>
</div>
	<h1>Dashboard</h1>
    <h2>Welcome, {{ info['nick'] }}</h2>
	<!-- <a href="/edit"><button>Edit Location(s)</button></a> -->
	<div id='map'></div>
    <div id='locations'>
        <h2>Your Locations</h2>
        <a href="/add"><button class='user_button'>Add Location</button></a>
        <hr>
        <div id="table_container">
        <table id="table_dash">
            <thead>
                <tr>
                    <th>Location Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for locale in user_locations %}
                <tr>
                    <td><a href="/loc/{{locale['longitude']}}/{{locale['latitude']}}">{{locale['loc_name']}}</a></td>
                    <td><button class='user_button'><a class = 'user_button' href="/locations/delete/{{locale['id']}}">Delete</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <a href=""></a>
        

	</div>
</body>
</html>
